<div id="{{ cardId() }}" class="card">
  <div *ngIf="header" class="card-header">
    <span>{{ header }}</span>
    <a class="card-help" *ngIf="helpClick.observed" (click)="helpClick.emit()">?</a>
  </div>
  <div class="card-body">
    <form>
      <ng-content></ng-content>
      <ng-container>
        <div class="card-foot">
          <ng-content select="[zc-card-footer]"></ng-content>
          <zc-button *ngIf="saveClick.observers.length>0" id="save" [text]="saveText"
            (click)="saveClick.emit()"></zc-button>
        </div>
      </ng-container>
    </form>
  </div>
</div>
