<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
  				<Include>[Zuhid.Identity]*</Include>
					<Exclude>[Zuhid.Identity]*Migrations.*,[Zuhid.Identity]*Program,[Zuhid.Identity]*AppSetting</Exclude>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>