:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    flex: 0 1 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  main {
    flex: 1 1 auto;
    background-color: #eef1f3;
    padding: 10px;
    overflow: auto;
  }

  footer {
    flex: 0 1 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.02);
  }
}
